body {
  background-color: #dadada;
}
body > .grid {
  height: 100%;
}
.image {
  margin-top: -100px;
}
.column {
  max-width: 450px;
}
.ui.inverted.menu {
  border-radius: 0;
}
.logout {
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: black;
  padding: 10px;
  background: #fff;
}
.logout:hover {
  background: rgba(0, 0, 0, 0.05) !important;
  color: rgba(0, 0, 0, 0.95) !important;
}
.card.column {
  margin: 5px auto;
  max-width: 100% !important;
}

.column .segment {
  width: 100% !important;
  font-size: 18px;
}
