{% extends 'layout.html' %} {% block content%}
<div class="ui container">
  {%if "user" in session %}
  <div class="ui error message errorContainer" style="display: none">
    <div class="header">Action Forbidden</div>
    <p id="errorMessage"></p>
  </div>
  <div class="ui success message successContainer" style="display: none">
    <div class="header">Action Forbidden</div>
    <p id="successMessage"></p>
  </div>
  <form class="ui form" id="quoteForm">
    <div class="field">
      <label>Author</label>
      <input type="text" name="author" placeholder="Author name" />
    </div>
    <div class="field">
      <label>Category</label>
      <select name="category" class="ui search dropdown">
        <option value="">Select a Category</option>
        <option value="Business">Business</option>
        <option value="Change">Change</option>
        <option value="Children">Children</option>
        <option value="Courage">Courage</option>
        <option value="Beauty">Beauty</option>
        <option value="Family">Family</option>
        <option value="Sports">Sports</option>
        <option value="Science">Science</option>
        <option value="Love">Love</option>
        <option value="Money">Money</option>
        <option value="Movies">Movies</option>
        <option value="Success">Success</option>
      </select>
    </div>
    <div class="field">
      <label>Quote Content</label>
      <textarea rows="2" name="body"></textarea>
    </div>
    <button id="btn" class="ui button primary" type="submit">add</button>
  </form>
  <div class="ui divider"></div>
  {%endif%} {%if "data" in data and dataCount >0 %} {%for quote in
  data["data"]%}

  <div class="cardContainer">
    <div class="ui card column" style="width: 100%">
      <div class="content">
        <div class="ui blue ribbon label" style="top: -12px">
          <i class="hashtag icon"></i> {{quote[4]}}
        </div>
        <span class="header">{{quote[2]}}</span>
        <div class="meta">
          <span class="date">Posted in {{quote[5]}}</span>
        </div>
        <p class="description" style="word-break: break-all">
          <i class="quote left icon"></i> {{quote[1]}}<i
            class="quote right icon"
          ></i>
        </p>
      </div>
      {%if quote[3] == session["id"]%}
      <div class="extra content">
        <button class="ui button basic red" onclick="DeleteQuote({{quote[0]}})">
          <i class="trash icon"></i>
          Delete
        </button>
      </div>
      {%endif%}
    </div>
    {%endfor%}
  </div>

  <!-- hello -->
  <div
    class="bu"
    style="margin: auto; display: grid; place-items: center; padding: 20px"
  >
    <div class="ui buttons">
      {%if total > 1%}
      <!--  -->
      {%if (current-1 < 1) %}
      <a class="ui button primary disabled"><i class="angle left icon"></i></a>
      {%else%}
      <a class="ui button primary" href="?page={{current-1}}" disabled
        ><i class="angle left icon"></i
      ></a>
      <!--  -->
      {%endif%}
      <!--  -->
      {% for p in range(1,total+1)%}
      <a
        class="ui button primary {%if(p==current)%}disabled{%endif%}"
        href="?page={{p}}"
        disabled
        >{{p}}</a
      >
      {%endfor%}
      <!--  -->
      {%if( current+1 > total) %}
      <a class="ui button primary disabled"><i class="angle right icon"></i></a>
      {%else%}
      <a class="ui button primary" href="?page={{current+1}}"
        ><i class="angle right icon"></i
      ></a>
      {%endif%}

      <!--  -->
      {%endif%}
    </div>
  </div>
  <!-- Hello -->
  {%else%}
  <div class="ui warning message">
    <div class="header">404</div>
    <p>no quote found ⌛</p>
  </div>
  {%endif%}
</div>
<script src="{{url_for('static',filename='js/axios.min.js')}}"></script>
<script src="{{url_for('static',filename='js/quotes.js')}}"></script>
{%endblock%}
