{% extends 'layout.html' %} {% block content%}
<div class="ui middle aligned center aligned grid">
  <div class="column">
    {%if message%}
    <div class="ui success message">
      <p>{{message}}</p>
    </div>
    {%endif%}
    <!--  -->
    {% if errors%}
    <div class="ui error message">
      <div class="header">Could you check something!</div>
      <ul class="list">
        {%for key,value in errors.items()%}
        <li>{{key}} : {{value}}</li>
        {%endfor%}
      </ul>
    </div>

    {%endif%}
    <form class="ui large form" action="{{url_for('change_password_post')}}" method="POST">

      <div class="ui stacked segment">
        <div class="field">
          <label for="password" style="text-align:left; margin-bottom: 10px;" class="">Current password</label>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="current password" />
          </div>
        </div>
        <div class="field">
          <label for="password" style="text-align:left; margin-bottom: 10px;">new password</label>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="new-password" placeholder="new password" />
          </div>
        </div>
        <div class="field">
          <label for="password" style="text-align:left; margin-bottom: 10px;">re-type new password</label>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="confirm-new-password" placeholder="re-type new password" />
          </div>
        </div>

        <button class="ui fluid large teal submit button">change password</button>
      </div>
    </form>

  </div>
</div>
{%endblock%}