{% extends 'layout.html' %} {% block content%}
<div class="ui middle aligned center aligned grid">
  <div class="column">
    {%if message%}
    <div class="ui success message">
      <p>{{message}}</p>
    </div>
    {%endif%}
    <!--  -->
    {% if errors%}
    <div class="ui error message">
      <div class="header">Could you check something!</div>
      <ul class="list">
        {%for key,value in errors.items()%}
        <li>{{key}} : {{value}}</li>
        {%endfor%}
      </ul>
    </div>

    {%endif%}
    <form class="ui large form" action="{{url_for('loginPost')}}" method="POST">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input
              type="text"
              name="username"
              value="{{username}}"
              placeholder="E-mail address or username"
            />
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password" />
          </div>
        </div>
        <button class="ui fluid large teal submit button">Login</button>
      </div>
    </form>

    <div class="ui message">
      New to us? <a href="{{url_for('register')}}">Sign Up</a>
    </div>
  </div>
</div>
{%endblock%}
